* {
    margin: 0px;
    padding: 0px;

}
body{
    background-color: rgb(19, 18, 18);
    display: flex;
}
a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

.header-img{
    width: 300px;
}

.dark {
    background-color:  #1f2937; ;
    color: #f9faf8;
}

.clear {
    background-color:  #fff ;
    color: #1f2937;

}
.container {
    width: 80%;
    display: flex;
    flex-direction: column;
    
}
